.app-header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;



    h1 {
        font-weight: bolder;
        font-size: 22px;
        margin: 0;
    }



    span {
        i {
            margin-left: 10px;
            font-size: 18px;
            cursor: pointer;
        }
    }


}

.main-container {
    margin-top: 30px;

    .space {
        width: 3%;
    }
}

.vertical-space {
    width: 100%;
    padding: 3%;
}

.search-engine {
    .search-input {
        width: 100%;

        input[type=text] {
            width: 85%;
            padding: 15px 8px;
            border: solid 2px #aaa;
            border-right: none;
            border-radius: 5px;


        }

        button {
            width: 15%;
            padding: 15px 0 15px 0;
            background-color: #fff;
            border: solid 2px #aaa;
            border-radius: 5px;
            border-left: none;

            i {
                cursor: pointer;
            }
        }




    }
}


h2 {
    font-weight: bolder;
}

.card {

    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .menu-panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #aaa;

        span {
            margin-bottom: 4px;
            cursor: pointer;

        }
    }
}


i {
    margin-right: 10px;
}


a {
    font-size: 14px;
    color: #000;
}

.card-header {
    padding: 10px;
}

.note-header {
    background-color: rgba(165, 42, 42, 0.5);
}

.news-header {
    background-color: #FFA07A;
}

.calendar-header {
    background-color: #87CEEB;
}

.todo-header {
    background-color: azure;
}

.contact-header {
    background-color: #FF7F00;

}

.card-body {
    padding: 10px;

    a {
        display: block;
        padding: 10px;
    }
}

.card-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    a {
        margin-left: 10px;
    }
}


.checkbox {
    padding: 10px;
}

.main-container {
    padding: 10px;
}


.box-column {

    .card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px;
        height: 100px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h3 {
        font-weight: bolder;
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    i {
        font-size: 26px;
        padding: 7px 0 7px 0;
    }

    .weather-box {
        border-top: 8px solid red;

    }

    .archive-box {
        border-top: 8px solid blue;

    }

    .finished-box {
        border-top: 8px solid yellow;

    }

    .historic-box {
        border-top: 8px solid green;
    }
}